.container{
    display: flex;
    flex-direction: column;
}

.imageContainer{
    width: 100%;
    height: 250px;
    position: relative;
    object-fit:cover;
    object-position: center;
    filter: grayscale(100%);
}