.image{
    position: absolute;
    object-fit: contain;
}

.imgContainer{
    position: relative;
    width: 450px;
    height: 450px;
}

.header{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 40px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.imageContainer{
    position: relative;
}

